// Colours
$bodyColour: #00ffff;
$headingColour: darken($bodyColour, 5%);
$linkColour: #ff00ff;
$hoverColour: darken($linkColour, 10%);
$captionColour: lighten($headingColour, 40%);
$white: #fff;

$backgroundColour: #ffff00;
$codeBackgroundColour: darken($backgroundColour, 5%);
